.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
}

.hr_horizontal {
    opacity: 0.3;
    margin: 0;
}

.hidden_anim {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.2s ease, height 0.2s ease;
}

.hidden {
    display: none !important;
}