.btn {
    background: none;
    border: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--white);
    cursor: pointer;
}

.btn_active {
    font-weight: 700;
    line-height: 343%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: var(--orange);
}

.btn_active:disabled {
    background: var(--gray);
    cursor: default;
}

.hr_horizontal {
    opacity: 0.3;
    margin: 0;
}

.hidden {
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
    height: 0;
}

.sale-price {
    font-weight: 600;
    line-height: 133%;
    color: var(--light-blue);
}

.init-price {
    font-weight: 400;
    line-height: 133%;
    text-decoration: line-through;
    color: var(--gray-price);
}

.sale {
    font-weight: 600;
    line-height: 143%;
    border-radius: 2px;
    padding: 5px 10px;
    color: var(--dark-gray);
    background-color: var(--yellow-warning);
}

.mini-img_active {
    border: 2px solid var(--orange) !important;
    border-radius: 2px !important;
}

.active-btn {
    background: var(--gray) !important;
}

.disabled {
    display: none !important;
}

.input-field {
    position: relative;
}

.input-field input {
    width: 100%;
    border: 1px solid var(--border-gray);
    border-radius: 2px;
    padding: 14px 20px;
    font-size: 14px;
}

.input-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--dark-gray);
    position: absolute;
    top: -24px;
    left: 0;
}

.loading {
    font-weight: 400;
    font-size: 32px;
    line-height: 143%;
    display: flex;
    justify-content: center;
    color: var(--dark-gray);
}