:root {
    --white: #FFFFFF;
    --light-blue: #2DA5F3;
    --blue: #1B6392;
    --light-gray: #F2F4F5;
    --border-gray: #E4E7E9;
    --gray: #5F6C72;
    --gray-price: #77878F;
    --dark-gray: #191C1F;
    --orange: #FA8232;
    --green: #2DB224;
    --red: #EE5858;
    --yellow-warning: #EFD33D;

    --layout-width: 1320px;
}

#root {
    max-width: var(--layout-width);
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    margin: 0;
}